body {
	background-color: #fafafa;
}
.error {
	width: 50%;
	background-color: #cd362d;
	margin: 0 auto;
	text-align: center;
	max-height: 50px;
	font-size: 1.7em;
	line-height: 47px;
	color: white;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(50,50,50,0.08);
}
.logo {
	text-align: center;
	font-size: 5em;
	font-family: Helvetica;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 50px;
}
.card-auth {
	max-width: 370px;
	margin: 0 auto;
	padding: 0 10px;
}
.card-auth .icon {
	width: 7%;
	display: inline-block;
	margin: 0 7px 0 14px;

}
.card-auth .icon img{
	width: 100%;
	vertical-align: middle;
	padding-bottom: 12px;
}
.auth-form {
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 1px 3px rgba(50,50,50,0.08);
	border-radius: 4px;
}
.row {
	height: 50px;
	border-bottom: 1px solid #eee;
}
.row input {
	width: 80%;
	padding: 15px 5px;
	border: none;
	font-size: 16px;
	color: #666;
}
.row input:focus {
	outline: none;
}
.row-submit {
	padding: 0 15px;
	border-bottom: none;
	margin-bottom: 8px;
}
.row-submit input{
	font-size: 1em;
	font-weight: bold;
	display: block;
	width: 100%;
	padding: 11px 10px;
	margin: 18px auto;
	border: none;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;

	background: #61bb46;

}
.row-submit input:hover{
	background: #77ca72;
	cursor: pointer;
}
.card-auth .create-user {
	display: block;
	margin-top: 15px;
	text-align: center;
}
.card-auth .create-user a {
	text-decoration: none;
	font-size: 1.1em;
}
.card-auth .create-user a:hover {
	text-decoration: underline;
}
.card-auth .icon-country img {
	margin-top: 13px;
}
/**/
input.invalid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    red !important;
}
input.invalid:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    red !important;
	opacity:  1;
}
input.invalid::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    red !important;
	opacity:  1;
}
input.invalid:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    red !important;
}