<web-app>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.parsentev.servlets.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>ru.parsentev.servlets.PermissionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>ru.parsentev.servlets.SignoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>ru.parsentev.servlets.SigninController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserViewServlet</servlet-name>
        <servlet-class>ru.parsentev.servlets.UserViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserViewServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.parsentev.servlets.UserCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>ru.parsentev.servlets.UserEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>ru.parsentev.servlets.UserDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
</web-app>